<div th:fragment="categoryFilter" class="row justify-content-start">
    <form class="d-flex" role="search">
        <div class="col-2 form-group me-2">
            <label for="categoryFilter">por Categoría</label>
            <select class="form-control form-control-sm" name="categoryFilter" id="categoryFilter">
                <option value="">Todas</option>
                <option th:each="categoria : ${categorias}" th:value="${categoria.category}" th:text="${categoria.category}">
                </option>
            </select>
        </div>
        <div class="col-2 form-group me-2">
            <label for="typeFilter">por Subcategoría</label>
            <select class="form-control form-control-sm" name="typeFilter" id="typeFilter">
                <option value="">Todas</option>
                <option th:each="categoria : ${categorias}" th:value="${categoria.type}" th:text="${categoria.type}">
                </option>
            </select>
        </div>

        <div class="d-flex align-content-end pt-4">
            <button class="btn btn-sm btn-outline-primary">Filtrar</button>
        </div>
    </form>
</div>