.severidad-critica {
    background-color: red;
    color: white;
}

.severidad-alta {
    background-color: orange;
    color: whitesmoke;
}

.severidad-media {
    background-color: yellow;
    color: black;
}

.severidad-baja {
    background-color: #33ff00;
    color: black;
}

.impacto-critico {
    color: red;
    text-shadow: gray 1px 1px 2px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
}

.impacto-importante {
    color: orange;
    font-style: italic;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
}

.impacto-moderado {
    color: yellow;
    font-style: italic;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
}

.impacto-bajo {
    color: #33ff00;
    font-style: italic;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
}

.impacto-nulo {
    color: black;
    font-style: italic;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
}