#fechaHover {
    color: #fff;
    font-size: 14px;
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover {
    text-shadow: rgb(255, 255, 255) 1px 1px 5px;
    filter: drop-shadow(0 0 0.5rem rgb(255, 255, 255));
}