<!DOCTYPE html>
<html lang="es">

<head th:insert="~{fragments/base::head}"></head>

<body>
    <header th:insert="~{fragments/base::header}"></header>
    <main class="row container-fluid my-3">
        <div class="row text-center text-primary p-2">
            <div class="row">
                <div class="col">
                    <h1>Sistema TickerSec</h1>
                </div>
                <div class="col-2">
                    <div th:replace="~{fragments/formNewCategoryModal::formNewCategoryModal}"></div>
                </div>
                <div class="row">
                    <span th:text="${mensaje}" class="text-danger" id="mensaje"></span>
                </div>
                <div th:insert="~{fragments/categoryFilter::categoryFilter}"></div>
            </div>
        </div>
        <div class="col">
            <div class="vh-100 overflow-auto">
                <!-- Lista de tickets -->
                <table class="table table-striped table-hover table-bordered p-1">
                    <thead>
                        <tr>
                            <th class="sticky-top table-dark" scope="col"><strong>Categor&iacute;a</strong></th>
                            <th class="sticky-top table-dark" scope="col"><strong>Tipo</strong></th>
                            <th class="sticky-top table-dark" scope="col"><strong>Descripci&oacute;n</strong></th>
                            <th class="sticky-top table-dark" scope="col">Acci&oacute;n</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${getCategoryFiltered.empty}">
                            <td colspan="2"> No hay categor&iacute;as registradas.</td>
                        </tr>
                        <tr th:each="categoria : ${getCategoryFiltered}">
                            <td th:text="*{categoria.category}" th:title="*{'id: '+categoria.id}" scope="row"></td>
                            <td th:text="*{categoria.type}"></td>
                            <td th:text="*{categoria.description}" class="overflow-hidden"
                                th:title="*{categoria.description}"></td>
                            <td>
                                <form method="post" th:action="@{/deleteCategory}"
                                    th:onsubmit="confirmDeleteCategory([[${categoria}]]) && actualizarMensaje();">
                                    <input type="hidden" th:value="${categoria.id}" name="categoryId" id="categoryId"
                                        readonly>
                                    <button type="submit" class="btn btn-outline-danger">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                            <path
                                                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                        </svg>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <footer th:insert="~{fragments/base::footer}"></footer>

    <div th:insert="~{fragments/base::js}"></div>
    <script type="text/javascript" th:src="@{js/confirmDeleteCategory.js}"></script>
    <script type="text/javascript" th:src="@{js/actualizarMensaje.js}"></script>
</body>

</html>