<!DOCTYPE html>
<html lang="es">

<head th:insert="fragments/base::head"></head>

<body onload="mueveReloj()">
    <header th:insert="fragments/base::header"></header>

    <main class="container-fluid my-3">
        <!-- Banner -->
        <h1 class="text-center text-primary p-2 m-2 ">Sistema TickerSec</h1>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col"><strong>ID</strong></th>
                    <th scope="col"><strong>Tipo</strong></th>
                    <th scope="col"><strong>Categor&iacute;a</strong></th>
                    <th scope="col"><strong>T&iacute;tulo</strong></th>
                    <th scope="col"><strong>Creado</strong></th>
                    <th scope="col"><strong>Severidad</strong></th>
                    <th scope="col"><strong>Creado por</strong></th>
                    <th scope="col"><strong>Estado</strong></th>
                    <th scope="col"><strong>Resumen</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${tickets.empty}">
                    <td colspan="2"> No hay tickets registrados.</td>
                </tr>
                <tr th:each="ticket : ${tickets}">
                    <td th:text="*{ticket.id}" scope="row"></td>
                    <td th:text="*{ticket.type}"></td>
                    <td th:text="*{ticket.category}"></td>
                    <td th:text="*{ticket.title}"></td>
                    <td th:text="${#temporals.format(ticket.createdAt, 'dd-MM-yyyy HH:mm')}"></td>
                    <td th:text="*{ticket.severity.name}"></td>
                    <td th:text="*{ticket.createdBy}"></td>
                    <td th:text="*{ticket.status.name}"></td>
                    <td th:text="*{ticket.resume}" class="overflow-hiden"></td>

                </tr>
            </tbody>
        </table>
    </main>

    <footer th:insert="fragments/base::footer"></footer>

    <div th:insert="fragments/base::js"></div>
</body>

</html>