<!DOCTYPE html>
<html lang="es">

<head th:insert="fragments/base::head"></head>

<body onload="mueveReloj()">
    <header th:insert="fragments/base::header"></header>

    <main class="container-md my-3">
        <!-- Banner -->
        <h1 class="text-center text-primary p-2 m-2 ">Sistema TickerSec</h1>
        <select name="tipo">
            <option th:each="tipo : ${T(com.example.Ticket_types).values()}"
                    th:value="${tipo}" th:text="${tipo.displayName}"></option>
        </select>
        

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer th:insert="fragments/base::footer"></footer>

    <div th:insert="fragments/base::js"></div>
</body>

</html>